/*::-webkit-scrollbar{ 
    width: 12px;
}
::-webkit-scrollbar-button       {  }
::-webkit-scrollbar-track{ 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-track-piece  {  }
::-webkit-scrollbar-thumb        { 
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-corner       { }
::-webkit-resizer                {  }
*/

*{
    margin: 0;
    padding: 0;
    border: 0 none;
}
html, body {
    height: 100%;
}
ul li{
    list-style: none;
}
header{
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 65px;
    //border-bottom: 3px solid #775021;
    box-shadow:  0px 1px 10px #a8c503;
    z-index: 100;
}

#parallax1.device-peek-bg {
    background-image: url("img/W1.jpg")
}
#parallax2.device-peek-bg {
    background-image: url(img/w2.jpg);
}
#parallax3.device-peek-bg {
    background-image: url(img/W3.jpg);
}
#parallax5.device-peek-bg {
    background-image: url(img/W5.jpg);
}
#parallax6.device-peek-bg {
    background-image: url(img/W6.jpg);
}
#parallax1.device-peek-bg2 {
    background-image: url(img/W7.jpg);
}
.device-peek-bg {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vw;
    min-height: 550px;
}

.device-peek-bg2 {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vw;
    min-height: 685px;
}
.contentType1{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
}
.contentType3{
    height: 100%;
    width: 100%;
    background-color: mediumslateblue;
}
.contentType4{
    height: 100%;
    width: 100%;
    background-color: sandybrown;
}
.contentType5{
    height: 100%;
    width: 100%;
    background-image: url(img/Texturas/wallBlue.jpg);
    background-repeat: repeat;
}
.contentType2 {
    background-color: #ffffff;
    background-image: url("img/texture.png");
    background-repeat: repeat;
    height: 120px;
    line-height: 115px;
    text-align: center;
    width: 100%;
    color: #283842;
    font-size: 32px;
    font-family: 'Pontano Sans', sans-serif;
    text-shadow: 2px 1px 3px #333;
}
footer{
    height: 150px;
    width: 100%;
    background-color: #333;
    //background-color: #283842;
}
.naviconSquare {
    background-color: #82358b;
    color: #ffffff;
    display: table;
    height: 65px;
    position: fixed;
    right: 25px;
    text-align: center;
    transition: all 0.5s linear 0s;
    width: 100px;
    z-index: 102;
}
/*.naviconSquare{
    width: 140px;
    height: 55px;
    position: fixed;
    text-align: center;
    z-index: 102;
    color: #ffffff;
    display: table;
    right: 25px;
    top: 5px;
    background-color: #7d4e24; 
    border-radius: 10px;
    transition: background-color 0.5s linear;
}*/
.fa{
    display: table-cell !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    /*text-shadow: 2px 2px rgba(255, 255, 255, 0.25);*/
    cursor: pointer;
}
.fa-25x{
    font-size: 2.5em !important;
}
.menuLabel {
    cursor: pointer;
    display: table-cell;
    font-family: verdana;
    font-size: 25px;
    padding-left: 12px;
    text-align: left;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.25);
    vertical-align: middle;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.blockLink{
    background-color: rgba(125, 78, 36, 0);
    height: 21px;
    position: fixed;
    top: 65px;
    width: 100%;
    z-index: 101;
}
.naviconSquare > .fa-bars, .naviconSquare > .fa-times{
    /*padding-right: 10px;*/
}
.fa-times{
    color: #ffffff;
    transition: all 0.5s linear;
    transform: rotate(360deg);
}
.fa-bars{
    transition: all 0.5s linear 0s;
}
.sidebar{
    background-color: #222;
    box-sizing: border-box;
    height: 100%;
    margin-left: 100%;
    position: fixed;
    width: 300px;
    transition: all 0.5s linear;
    z-index: 101;
    
}
.sidebar.open-sidebar{
    margin-left: calc(100% - 300px);
}
.cont{
    transition: all 1s ease-in-out 0s;
    height: 100%;
    float: right;
    /*margin-right: 20%;*/
    width: 100%;
}
.cont.open-sidebar{
    margin-right: 20%;
}
/*.naviconSquare.open-sidebar{
    background-color: #333;
}*/
.naviconSquare.open-sidebar {
    background-color: #e23740;
    margin-right: 247.5px;
    border-radius: 100px;
    width: 55px;
    height: 55px;
    margin-top: 5px;
}
.sidebar nav ul{
    margin-left: 27.5px;
    margin-top: 2.5px;
}
.sidebar li{
    border-bottom: 1.5px solid #515050;
    display: inline-block;
    height: 60px;
    width: 100%;
    background: #222 none repeat scroll 0 0;
}
.sidebar li:hover{
    border-color: #3d3d3d;
}
.sidebar a:hover{
    color: #d8d8d8;
}
/*.sidebar li:last-child{
    border-bottom: 0.5px solid #82358b;

}*/
.sidebar li a{
    color: #ffffff;
    display: block;
    font-family: "Homenaje",sans-serif;
    font-size: 24px;
    line-height: 57px;
    padding-left: 10px;
    text-decoration: none;
}
.miniContentBlock {
    background-color: #ffffff;
    background-image: url("img/texture.png");
    background-repeat: repeat;
    box-shadow: 3px 3px 10px 1px #000000;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    position: relative;
    width: 70%;
    line-height: 60px;
    text-align: center;
    font-size: 28px;
}
.sepa{
    background-color: rgba(0, 0, 0, 0.58);
    color: #ffffff;
    font-size: 23px;
    height: 100px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 289px;
    padding: 19px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 75%;
}
.squareLeft{
    float: left;
    height: 480px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    position: absolute;
    width: 40%;
}
.squareRight{
    float: left;
    height: 480px;
    margin-left: 55%;
    margin-top: 15px;
    position: absolute;
    width: 40%;
}
.form-control {
    background-color: rgba(255, 255, 255, 0.25) !important;
    color: #ffffff !important;
    border: none !important;
}
.principalTittle{
    color: #ffffff;
    font-size: 40px;
    text-shadow: 3px 3px 2px #000000;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    font-family: 'Righteous', cursive;
}
.principalTittle2{
    color: #777;
    font-size: 40px;
    text-shadow: 3px 3px 2px #b2b2b1;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    font-family: 'Righteous', cursive;
}
.principalTittle3{
    color: #ffffff;
    font-family: "Righteous",cursive;
    font-size: 40px;
    left: 0;
    padding-top: 15px;
    position: absolute;
    right: 0;
    text-align: left;
    text-shadow: 3px 3px 2px #000000;
    width: auto;
}
.subTittle{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    width: 100%;
    text-shadow: 3px 2px 2px #000000;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.networks{
    margin-left: 25px;
    position: fixed;
}
.sNetwork{
    display: table;
    float: left;
    height: 65px;
    text-align: center;
    width: 50px;
    color: #ffffff;
}

#snFace{
    background-color: #3b5998;
}
#snTwitter{
    background-color: #00aced;
}
#snGoogle{
    background-color: #dd4b39;
}
.backgroundFade{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.map{
    pointer-events: auto;
}
*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color: #ccc !important;
}
*:-moz-placeholder {
    /* Firefox anterior a 19 */
    color: #ccc !important;
}
*::-moz-placeholder {
    /* Firefox 19 y superior */
    color: #ccc !important;
}
*:-ms-input-placeholder {
    /* Internet Explorer 10 y superior */
    color: #ccc !important;
}
.btn-success{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px !important;
    padding-right: 80px !important;
    background-color: #A8C503 !important;
}
.btn-success:hover{
    background-color: #5cb85c !important;
}
label {
    color: #ffffff !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold !important;
}
.divisor {
    background-color: rgba(204, 204, 204, 0.2);
    float: left;
    height: 450px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 5px;
}
.contactInfo{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 35px;
    height: 75%;
    width: 100%;
    padding: 35px;
}
.contactInfo p{
    color: #ffffff;
    font-size: 20px;
    font-family: Pontano Sans;
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.contactInfo p.phone, .contactInfo p.mail{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.contactInfo span{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #777;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
/*
######################   Hexagono   ############################*/
#hex1:hover, #hex2:hover, #hex3:hover, #hex4:hover, #hex5:hover, #hex6:hover, #hex7:hover, #hex8:hover, #hex9:hover, #hex10:hover {
		transform : scale(1.05);
		-moz-transform : scale(1.05); /* Firefox */
		-webkit-transform : scale(1.05); /* Chrome - Safari */
		-o-transform : scale(1.05); /* Opera */
		-ms-transform : scale(1.05); /* IE9 */
	}

#hex1{
    background-image: url(img/Logos/tempLogo.png);
}
#hex2{
    background-image: url(img/Logos/tempLogo.png);
}

#hex3{
    background-image: url(img/Logos/tempLogo.png);
}

#hex4{
    background-image: url(img/Logos/tempLogo.png);
}

#hex5{
    background-image: url(img/Logos/tempLogo.png);
}
#hex7{
    background-image: url(img/Logos/tempLogo.png);
}
#hex8{
    background-image: url(img/Logos/tempLogo.png);
}
#hex9{
    background-image: url(img/Logos/tempLogo.png);
}

#hex6{
    background-image: url(img/Logos/tempLogo.png);
    margin-left: 110.5px;
}
.hexagon {
  position: relative;
  width: 200px; 
  height: 115.47px;
  margin: 32.5px 5px;
  background-size: auto 230.9401px;
  background-position: center;
  float: left;
  transition: 0.5s ease;
    -moz-transition: 0.5s ease; /* Firefox */
    -webkit-transition: 0.5s ease; /* Chrome - Safari */
    -o-transition: 0.5s ease; /* Opera */
}


.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 29.29px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 200.0000px;
  height: 115.47005383792516px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -70.7107px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -70.7107px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
    width: 200PX;
  //width: 190.0000px;
  height: 109.6966px;
  z-index: 2;
  background: inherit;
}


/*####################################################################*/


.hexagonContainer {
    //background-color: red;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 1050px;
    margin-top: 50px;
}

.squareContainer {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 1050px;
    margin-top: 50px;
}

/*#################################Cuadrado###################################*/

.square{
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    float: left;
    margin: 4px;
    background-image: url(img/Logos/tempLogo.png);
    background-size: auto 200px;
    background-position: center;
    transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease; /* Firefox */
    -webkit-transition: transform 0.5s ease; /* Chrome - Safari */
    -o-transition: transform 0.5s ease; /* Opera */
    z-index: 1;
}


	.square:hover{
		transform : scale(1.05);
		-moz-transform : scale(1.05); /* Firefox */
		-webkit-transform : scale(1.05); /* Chrome - Safari */
		-o-transform : scale(1.05); /* Opera */
		-ms-transform : scale(1.05); /* IE9 */
	}






.squareOpen1{
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: block;
    transition: 1s ease;
}
.squareOpen{
    visibility: hidden;
}
.squareOpen2{
    position: absolute;
    background-color: gold;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: 1s ease;
    visibility: visible;
}
.squareNone{
    transition: .2s ease;
    visibility: hidden;
}


/*####################################################################*/



.squareH{
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    float: left;
    margin: 4px;
    background-image: url(img/Logos/tempLogo.png);
    background-size: auto 200px;
    background-position: center;
    transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease; /* Firefox */
    -webkit-transition: transform 0.5s ease; /* Chrome - Safari */
    -o-transition: transform 0.5s ease; /* Opera */
    z-index: 1;
}


.squareH:hover{
		transform : scale(1.05);
		-moz-transform : scale(1.05); /* Firefox */
		-webkit-transform : scale(1.05); /* Chrome - Safari */
		-o-transform : scale(1.05); /* Opera */
		-ms-transform : scale(1.05); /* IE9 */
}
.squareH-open{
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    float: left;
    margin: 4px;
    background-image: none;
    background-color: aqua;
    transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease; /* Firefox */
    -webkit-transition: transform 0.5s ease; /* Chrome - Safari */
    -o-transition: transform 0.5s ease; /* Opera */
    z-index: 1;
}
#squareInfo{
    background-color: lawngreen;
    width: 100%;
    height: 100%;
}

/****************************  Rectangle  **********************************/

#rectangle1{
    background-image: url(img/Logos/tecnodental.png);
}
#rectangle2{
    background-image: url(img/Logos/thermofrio.png);
}
#rectangle3{
    background-image: url(img/Logos/alexloeza.png);
}
#rectangle4{
    background-image: url(img/Logos/xpresarte.png);
}
#rectangle5{
    background-image: url(img/Logos/cafeviveros.png);
}
#rectangle6{
    background-image: url(img/Logos/clubdmentes.png);
}
.rectangleContainer{
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 90%;
    margin-top: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rectangleWrapper{
    width: 260px;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
.rectangle{
    width: 260px;
    height: 155px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.50);
    -moz-box-shadow:    7px 7px 5px 0px rgba(0, 0, 0, 0.50);
    box-shadow:         7px 7px 5px 0px rgba(0, 0, 0, 0.50);
}
.rectangleInfo{
    width: 260px;
    height: 80px;
    display: table;
}
.rectangleInfo > p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    font-family: 'Nobile', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}
#rectangle1{

}

/****************************  Rectangle  **********************************/




/********************************** Prueba servicio *****************************************/
#service1{
    background-color: #9CBFD9;
}
#service2{
    background-color: #9DA655;
}
#service3{
    background-color: #D7DBB6;
}
#service4{
    background-color: #706246;
}

.service {
    background-color: red;
    display: inline-block;
    float: left;
    height: 100%;
    width: 25%;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 40px;
    
}
.service img.serviceImage {
    max-width: 100%;
    height: auto;
}

.serviceContainer{
    width: 100%;
    height: calc(100% - 65px);
}
/********************************************************************************************/


.triangl3_left {
    border-bottom: 75px solid transparent;
    border-top: 75px solid transparent;
    height: 0;
    margin-left: -30px;
    width: 0;
    position: absolute;
}
#t1{
    border-left: 60px solid #9CBFD9;
}
#t2{
    border-left: 60px solid #9DA655;
}
#t3{
    border-left: 60px solid #D7DBB6;
}

.service h3{
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    font-size: 32px;
}
#service1{
    color: #706246;
}
#service2{
    color: #D7DBB6;
}
#service3{
    color: #706246;
}
#service4{
    color: #9CBFD9;
}
.service h4{
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
    padding: 50px;
}
